<div id="lightboxHeaderSelector" class="ifb-LightBox" style="display:none;"></div>
<div id="lightboxBoleta" class="ifb-LightBox" style="display:none;"></div>	
<div id="lightboxInstrumentDetail" class="ifb-LightBox" style="display:none;"></div>
<div id="lightboxMessageNotice" class="ifb-LightBox" style="display:none;"></div>
<div id="lightboxHelp" class="ifb-LightBox" style="display:none;"></div>

<section class="sceneSharesShares2">	
	<section class="contMiddle">
		<div class="middle">
			<div class="middleBox">
				<div class="title" id="intrumentListHeader">
					<h2></h2>
					<a class="icoCloseBox ifbEventTrigger" data-event="clickClosePage"></a>				
					<a class="icoToolBox ifbEventTrigger" data-event="clickToolBoxInstrumentList"></a>
            		<a class="icoFilter ifbEventTrigger" data-event="clickModuleFilter" data-module=""></a>
            		<a class="icoRefresh ifbEventTrigger iconRefresh" data-event="clickRefreshModule" data-module="instrumentList"></a>
				</div>
				<div class="data">
					<section id="instrumentList_table" class="contSharesTable"></section>
				</div>
			</div>
		</div>  
	</section>
</section>