<div class="ifb-PopUp mesAviList">
    <div class="ifb-contMesAvi">
        <!-- txt superior + btn cerrar -->
        <section class="contTop" id="newsListTitle">
            <h3></h3>
            <a class="icoCloseWindow ifbEventTrigger" data-event="closeClick"></a>
        </section>

        <!-- tabla datos + nicescroll -->
        <section class="contMesAviTbl" id="newsList_table">
        </section>

        <!-- desarrollo mensaje/aviso + nicescroll -->
        <section class="contMesAviTxt" id="newsList_detail">
        </section>

    </div>
</div>