<div id="lightboxHeaderSelector" class="ifb-LightBox" style="display:none;"></div>
<div id="lightboxInstrumentDetail" class="ifb-LightBox" style="display:none;"></div>
<div id="lightboxBoleta" class="ifb-LightBox" style="display:none;"></div>
<div id="lightboxMessageNotice" class="ifb-LightBox" style="display:none;"></div>
<div id="lightboxHelp" class="ifb-LightBox" style="display:none;"></div>
<div id="lightboxInstrumentSelector" class="ifb-LightBox" style="display:none;"></div>

<section class="indexExpand">
	<section class="contTop">
		<div class="top">
			<div class="topBox">
				<div class="title">
					<h2><%=BANCOMER.CULTURETEXT.t('pageTitle_IndexPage')%></h2>						
					<a class="icoCloseBox ifbEventTrigger" data-event="clickClosePage"></a>		
					<a class="icoToolBox ifbEventTrigger" data-event="clickToolBoxIndexesPage"></a>
            		<a class="icoFilter ifbEventTrigger" data-event="clickToolBoxInstrumentSelector"></a>
            		<a class="ifbEventTrigger icoRefresh iconRefresh" data-event="clickRefreshModule" data-module="indexDetail"></a>
				</div>
				<div class="data">
					<section class="contIndexExpandGraph" >
						<div class="indexExpandGraph" id="indexDetailPageChart"></div>
					</section>
    				<section class="contIndexTableBig"  id="indexDetailPageTable" >
    			</div>
    		</div>
    	</div>
    </section>
 </section>
