<%
var checked = '';
var idLabel = '';
var suffix = '';
var name = '';

if (model && model.options) {
    suffix = model.suffixCls || '';
%>

<div class="tooltipInvDetGraf<%=suffix%>-periodo">
    <div class="arrowInvDetGraf<%=suffix%>-periodo"></div>
    <div class="dataBoxInvDetGraf<%=suffix%>-periodo">

    <%_.each(model.options, function (option, index){
    checked = (option.key === model.checkedOption)?  'checked' : '';
    idLabel = suffix + option.key +model.componentId;
    name = model.componentId + suffix;
    
%>
    <div class="ifb-radioButton">
        <input id="<%=idLabel%>" class="radioButton ifbEventTrigger" data-event="clickOptionFilter" data-textkey="<%=option.textKey%>" type="radio" value="<%=option.value%>" name="<%=name%>" value="<%=option.value%>" data-listen="change" <%=checked%>>
        <label class="radioButtonLabel" for="<%=idLabel%>"><%=BANCOMER.CULTURETEXT.t(option.textKey)%></label>
    </div>
    <%});%>
<%}%>
    </div>
</div>