<div id="lightboxBoleta" class="ifb-LightBox" style="display:none;"></div>
<div id="lightboxInstrumentDetail" class="ifb-LightBox" style="display:none;"></div>
<div id="lightboxMessageNotice" class="ifb-LightBox" style="display:none;"></div>
<div id="lightboxHistoricalAlerts" class="ifb-LightBox" style="display:none;"></div>
<div id="lightboxHelp" class="ifb-LightBox" style="display:none;"></div>

<section class="investDet2-Graph">      
	<section class="contMiddle" id="investmentChartDetail_chart">
	</section>      
</section>