<%  
  var instrument = model.models[0];  
  if (!instrument) {
    return;
  } 
 %>

<div class="title" >
  <h2><%=instrument.getIFBShortName()%></h2>
	<a href="#!/workspaceMaximized/<%=model.workspace%>/<%=model.componentId%>" class="icoOpenBox"></a>
	<a class="icoLapiz ifbEventTrigger" data-event="clickEditModule" data-layout="<%=model.layout%>" data-module="<%=model.componentId%>" data-workspace="<%=model.workspace%>"></a>
	<a class="icoToolBox ifbEventTrigger" data-event="clickFilter" data-filter="chartType"></a>
	<a class="icoFilter ifbEventTrigger" data-event="clickToolBoxInstrumentSelector"></a>
	<a class="ifbEventTrigger icoRefresh iconRefresh" data-event="clickRefreshModule"></a>
	
</div>
<div class="data" >
  <!-- aquí están los gráficos y las pestañas-->
  <section class="data-menu-layout1">

  <div class="contGraphMenu">
    <ul>
      <li class="ifbEventTrigger" data-event="clickTabChart" data-type="intraday"><%=BANCOMER.CULTURETEXT.t('componentLabel_instrumentDetail_ChartIntraday')%></li>
      <li>|</li>
      <li class="ifbEventTrigger" data-event="clickTabChart" data-type="daily"><%=BANCOMER.CULTURETEXT.t('componentLabel_instrumentDetail_ChartDaily')%></li>
    </ul>
  </div>

  <!-- graf -->
  <div class="contGraph">  	  	
    <section class="graph" id="chart_<%=model.componentId%>"></section>    
  </div>

  <div class="contPerFre">
    <div><%=BANCOMER.CULTURETEXT.t('componentLabel_instrumentDetail_Period')%></div>
    <div id="period<%=model.componentId%>" class="ifbEventTrigger" data-event="clickFilter" data-filter="period"></div>
    <div ><%=BANCOMER.CULTURETEXT.t('componentLabel_instrumentDetail_Frequency')%></div>
    <div id="frequency<%=model.componentId%>" class="ifbEventTrigger selected" data-event="clickFilter" data-filter="frequency"></div>
  </div>
  </section>


</div>