<%
var checked = '';
var idLabel = '';
var suffix = '';
var name = '';

if (model && model.options) {
    suffix = model.suffixCls || '';
%>
<div class="tooltip-investDet2-graph">
    <div class="arrowInvestDet2-graph"></div>
        <div class="dataBoxInvestDet2-graph">

    <%_.each(model.options, function (option, index){
    checked = (option.key === model.checkedOption)?  'checked' : '';
    idLabel = suffix + option.key +model.componentId;
    name = model.componentId + suffix;
    
%>
    <div class="ifb-radioButton">
        <input id="<%=idLabel%>" class="radioButton ifbEventTrigger" data-event="clickOptionFilter" data-textkey="<%=option.textKey%>" type="radio" name="<%=name%>" value="<%=option.type%>" data-listen="change" <%=checked%>>
        <label class="radioButtonLabel" for="<%=idLabel%>"><%=BANCOMER.CULTURETEXT.t(option.textKey)%></label>
    </div>
    <%});%>
<%}%>
</div>
</div>