<section class="sceneSharesShares2">
	<section class="contMiddle">
		<div class="middle">
  			<div class="middleBox">				
	  			<div class="title">
	    			<h2><%=model.title%></h2>
				    <a href="#!/workspace/<%=model.workspace%>" class="icoCloseBox"></a>
	    			<a class="icoToolBox ifbEventTrigger" data-event="clickToolBoxIndexes"></a>
	    			<a class="icoFilter ifbEventTrigger" data-event="clickToolBoxInstrumentSelector"></a>
	    			<a class="icoRefresh ifbEventTrigger iconRefresh" data-event="clickRefreshModule" data-module="indexes"></a>
	  			</div>
	  			<div class="data">
	    			<section class="contSharesTable" id="<%=model.idTable%>"></section>
	  			</div>
	  		</div>
		</div>
	</section>
</section>