<div class="mesAviTxt_Tit_border">
	<div class="mesAviTxt_Tit">Detalle de la alerta</div>
</div>
<!-- salida noticia sin estilo + nicescroll -->
<div class="mesAviTxtScroll" id="niceScrollNewsDetailList">
	<div class="mesAviTxtScroll_txt" >	
		<%=notification%>
	</div>
	<div style="font-style:italic !important;position:absolute;bottom:10px">
		La generación de esta ALERTA es solamente con fines informativos, por lo que no considera la realización de la operación. BBVA Bancomer no se hace responsable de cambios posteriores a la emisión de esta ALERTA.
	</div>
</div>
