<div id="lightboxNewsDetail" class="ifb-LightBox" style="display:none;"></div>
<div id="lightboxInstrumentDetail" class="ifb-LightBox" style="display:none;"></div>
<div id="lightboxBoleta" class="ifb-LightBox" style="display:none;"></div>
<div id="lightboxMessageNotice" class="ifb-LightBox" style="display:none;"></div>
<div id="lightboxHelp" class="ifb-LightBox" style="display:none;"></div>


<section class="researchNews2">
  <!--top container: researchNews, research, news-->
  <section class="contMiddle">
    <div class="middle">
      <div class="middleBox">
          <div class="title" id="researchNewsHeader">
            <h2></h2>
            <a class="icoCloseBox ifbEventTrigger" data-event="clickClosePage"></a>   
            <a style="display:none;" class="icoFilter ifbEventTrigger" data-event="clickModuleFilter" data-module="researchNews" id="researchNewsHeaderFilter"></a>
            <a class="icoRefresh ifbEventTrigger iconRefresh" data-event="clickRefreshModule" data-module="researchNews"></a>
          </div>
        <div class="data" id="researchNews"></div>
      </div>
    </div>
  </section>
</section>